/* ヒーローセクション */
.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    background: rgba(41, 36, 12, 0.45);
    display: flex;
}

.hero-content {
    position: relative;
    text-align: center;
    color: hsl(42, 43%, 67%);
    padding: 40px;
    border-radius: 12px;
    /* 文字の背景設定*/
    background: rgba(41, 36, 12, 0.45);
    /* ぼかし*/
    backdrop-filter: blur(6px);
    max-width: 800px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 4.5em;
    margin-bottom: 0em;
}

.hero-content h2 {
    font-size: 1.3em;
    margin-bottom: 2.0em;
}
