<!-- ヘッダー共通設定 -->
    <meta charset="utf-8">
    <title>{% block title %}僕の細道　平泉・一関旅路マップ{% endblock %}</title>
    <!-- アイコン設定　-->
    <!-- iconタブ用 -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <!-- iPhone / iPad ホーム画面 -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <!-- Android / PWA対応 -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#b8860b">
